/* General Styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    margin-top: 50px;
    color: white;
}

.register-form {
    background-color: rgb(9, 9, 61);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.register-header {
    margin-bottom: 20px;
    text-align: center;
    font-size: 24px;
    color: #fafafa;
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.password-field {
    position: relative;
}

.password-toggle {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #888;
}

.divider-nospace {
    margin: 10px 0;
    border-bottom: 1px solid #ddd;
}

.register-button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.register-button:hover {
    background-color: #0056b3;
}

.checkbox-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.checkbox-text a {
    color: #007bff;
    text-decoration: none;
}

.checkbox-text a:hover {
    text-decoration: underline;
}

.divider {
    margin: 20px 0;
    border-bottom: 1px solid #ddd;
}

.text-center {
    text-align: center;
}

.login-link {
    color: #007bff;
    text-decoration: none;
}

.login-link:hover {
    text-decoration: underline;
}
